<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Demos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

<!-- Section rajoutée pour LogsDebugTrace-->
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <!-- Section rajoutée par le designer Settings-->  
  <applicationSettings>
    <Demos.Properties.Settings>
      <setting name="Nom" serializeAs="String">
        <value>Planas</value>
      </setting>
    </Demos.Properties.Settings>
  </applicationSettings>

<!-- Section rajoutée à la main -->
  <appSettings>
    <add key="prenom" value="Jean-Pierre"/>
  </appSettings>
</configuration>
